[submodule "Web-Utils"]
	path = Web-Utils
	url = ../../herychemo/Web-Utils.git
	branch = master
[submodule "SampleConfigRepo"]
	path = SampleConfigRepo
	url = ../../herychemo/SampleConfigRepo.git
	branch = master
